# Data (DHS cannot be redistributed)
Data/
# R session artifacts
.RData
.Rhistory
.Rproj.user/

# Messy folders
Old Scripts/
Alternative Projects For Future/
Regression Discontinuity/
Others/
Outputs/
Finalized Scripts/
Writeup/
Figures/
Tables/
Results/
Presentations/
project_electrification/

# OS
.DS_Store
Thumbs.db